/* 헤더 컴포넌트 */
.header-wrap {
    width: 100%;
}

.header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.writing {
    width: 110px;
    height: 30px;
    text-align: center;
    background: var(--color-dark);
    border-radius: 36px;
}

.writing a {
    color: #e4e4e4;
    font-weight: 700;
    position: relative;
    top: 15%;
}

.writing:hover {
    transition: all 150ms linear;
    opacity: .85;
}

.writing:active {
    transition: all 150ms linear;
    opacity: .75;
}

.writing:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

/* 메인 컨텐츠 */
.contents-wrap {
    width: 100%;
}

/* 게시글 */
.info-wrap {

}

.modal .btn-wrap {
    padding: .5rem 1rem;
}

.modal .btn-wrap .close-btn {
    display: block;
    font-size: 1.25rem;
    line-height: 0;
}